.buttons {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: stretch;
    width: 50%;
    margin: auto;
}

.button {
    padding: 20px;
}

